<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="15" android:versionName="1.5.2"
    package="com.seriesmanager" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:label="@string/app_name" android:name="com.seriesmanager.SeriesManagerActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.seriesmanager.activities.SeriesActivity" android:screenOrientation="portrait" />
        <activity android:name="com.seriesmanager.activities.SeriesManagementActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.seriesmanager.activities.SerieDetailsActivity" android:screenOrientation="portrait" />
    	
        <activity android:name="com.airpush.android.PushAds"
				  android:configChanges="orientation|keyboardHidden"				  
		android:screenOrientation="portrait"/>
		<receiver android:name="com.airpush.android.UserDetailsReceiver" />
		<receiver android:name="com.airpush.android.MessageReceiver" />
		<receiver android:name="com.airpush.android.DeliveryReceiver" />
		<receiver android:name=".BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		<service android:name="com.airpush.android.PushService">
			<intent-filter>
				<action android:name="com.airpush.android.PushServiceStart40931" />
			</intent-filter>
		</service>
    
    </application>
</manifest>
